<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<img class="ico" src="/assets/ico.png" alt="">
<div class="cards">
        <h4>Editar objetivo</h4>
        <form action="/editar-objetivo/<%= userId %>" method="POST">
            <input type="number" name="objetivo" id="objetivo" value="<%= objetivo.toFixed(2) %>" />
            <input type="submit" value="GUARDAR">
            <% if (error) { %>
                <p style="color: gray;"><%= error %></p>
            <% } %>
        </form>
</div>
<img src="/assets/modoahorro.png" alt="">
<a class="volver" href="/balance"><button>VOLVER</button></a>          



<%- include('partials/footer.ejs') %>